<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="font-size: 20px; margin: 100px 25%;">
                <h2 class="text-center">Add songs</h2>
                <form action="/admin/add-songs" method="post" enctype="multipart/form-data">
                    <label for="">Song Name</label>
                    <input type="text" name="Name" class="form-control">

                    <label for="">Artist Name</label>
                    <input type="text" name="Artist" class="form-control">

                    <label for="">Image</label>
                    <input type="file" name="Image" class="form-control">

                    <label for="">Song source</label>
                    <input type="file" name="Src" class="form-control">

                    <button type="submit" class="btn btn-success mt-4">Add</button>
                </form>
            </div>
        </div>
    </div>
</section>