
    <section>
        <div class="container" style="background: #000;">
            <div class="row">
                <h1>hello</h1>
            </div>
        </div>
    </section>
    {{!-- <section>
        <div class="container mt-5">
            <div class="row">
                {{#each products}}
                <div class="col-md-3 ">
                    <div class="card" style="width: 18rem;">
                        <img src="{{this.image}}" class="card-img-top"
                            alt="product-image">
                        <div class="card-body">
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">{{this.Description}}</p>
                            <h3 class="card-text">{{this.Orice}}</h3>
                            <a href="#" class="btn btn-primary">Added to cart</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section> --}}





    